{%extends 'all-food/base.html' %}
{% block content%}
{{block.super}}

{%for restaurant in rest%}
  <div class="col s12 m7">
    <!-- <h4 class="header">{{restaurant.name}}</h4> -->
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{ restaurant.rest_img.url }}" id="rest_img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>{{restaurant.name}}</h4>
          <p>{{restaurant.rest_desc}}</p>
          <br>
          <!-- {% if restaurant.price > 50.00 %}
            <p>Price range $ </p>
          {%else %}
            <p>price range $$</p>
          {%endif%} -->
          <h6>Price Estimate</h6>
          <b>{{restaurant.price}}</b>
        </div>
        <div class="card-action">
          <a href="{%url 'rest-details' restaurant.id%}">More Details...</a>
        </div>
      </div>
    </div>
  </div>

{%endfor%}

{%endblock%}
